@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "gilroyextrabold";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "gilroylight";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "opensanslight";

  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "opensansregular";

  src: url("../fonts/opensansregular.woff2") format("woff2"),
  url("../fonts/opensansregular.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-family: "opensanslight", Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

button.button {
  padding: 0;

  background: none;
  border: none;
}

.button {
  position: relative;
  z-index: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  overflow: hidden;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  -webkit-transition: -webkit-transform 0.2s ease-in-out;

  transition: -webkit-transform 0.2s ease-in-out;

  -o-transition: transform 0.2s ease-in-out;

  transition: transform 0.2s ease-in-out;

  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.button:hover::before {
  -webkit-transform: scaleY(5);
      -ms-transform: scaleY(5);
          transform: scaleY(5);
}

.main-navigation {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 186px;
  margin-top: 40px;
  padding: 33px 60px 50px;

  background-color: #f7e296;
}

.main-navigation a {
  display: block;

  color: #000000;
}

.main-navigation a:hover {
  opacity: 0.6;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-logo {
  position: absolute;
  top: -25px;

  -ms-flex-item-align: start;

      align-self: flex-start;
  width: 166px;
  height: 48px;

  font-size: 48px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  text-transform: uppercase;
}

.header-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.search-form {
  position: relative;

  width: 440px;
  height: 49px;
  margin-right: 100px;

  background-color: transparent;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: top 18px left 3px;
}

.search-field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 355px;
  height: 49px;
  padding-left: 40px;

  background-color: transparent;
  border: none;
}

.search-field:focus {
  z-index: 0;

  border-bottom: 2px solid #000000;
  outline: none;
}

.search-form label {
  position: absolute;
  top: 9px;
  left: 40px;

  color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.search-form label:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus ~ label {
  opacity: 0;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 85px;
  height: 49px;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-field:focus ~ .search-button {
  z-index: 0;
}

.search-field:focus ~ .search-button:hover {
  z-index: 0;

  color: #ffffff;

  background-color: #000000;
}

.search-button:active {
  z-index: 0;

  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 227px;
  margin: 0;
  margin-right: 60px;
  padding: 0;

  list-style: none;
}

.user-navigation .login-link,
.user-navigation .user {
  margin-right: 20px;
  padding-left: 27px;

  background-image: url(../svg/user.svg);
  background-repeat: no-repeat;
  background-position: top 9px left 0;
}

.user-navigation .logout-link {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .logout-link:hover {
  color: #000000;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 213px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.options .compare {
  padding-left: 20px;

  background-image: url(../svg/compare.svg);
  background-repeat: no-repeat;
  background-position: top 11px left 0;
}

.options .cart {
  padding-left: 22px;

  background-image: url(../svg/cart.svg);
  background-repeat: no-repeat;
  background-position: top 9px left 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1040px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-link {
  position: relative;

  width: 246px;
  margin-right: 294px;
  padding-right: 32px;

  white-space: nowrap;

  background-image: url(../svg/plus.svg);
  background-repeat: no-repeat;
  background-position: top 4px right 0;
}

.site-navigation > li:nth-child(2) {
  width: 121px;
  margin-right: 38px;
}

.site-navigation > li:nth-child(3) {
  width: 109px;
  margin-right: 114px;
}

.site-navigation > li:nth-child(4) {
  width: 117px;
}

.catalog-menu {
  position: absolute;
  left: -60px;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  min-height: 163px;
  margin: 0;
  padding: 0;
  padding: 21px 60px 34px;

  list-style: none;
  font-size: 15px;
  line-height: 36px;
  font-family: "opensanslight", Arial, sans-serif;
  text-transform: none;
  letter-spacing: 0.01em;

  background-color: #f7e296;
  visibility: hidden;
}

.catalog-link:hover .catalog-menu {
  visibility: visible;
}

.catalog-menu li:nth-child(1) {
  width: 180px;
  margin-right: 58px;
}

.catalog-menu li:nth-child(2) {
  width: 124px;
  margin-right: 77px;
}

.catalog-menu li:nth-child(3) {
  width: 111px;
  margin-right: 489px;
}

.catalog-menu li:nth-child(4) {
  width: 152px;
  margin-right: 86px;
}

.catalog-menu li:nth-child(5) {
  width: 86px;
  margin-right: 715px;
}

.catalog-menu li:nth-child(6) {
  width: 97px;
}

.slides-wrapper {
  position: relative;
  z-index: 0;

  width: 1160px;
  min-height: 514px;
  overflow: hidden;
}

.slides-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 113px;

  background-color: #f7e296;
}

.slides-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 300%;
  min-height: inherit;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transition: -webkit-transform ease-in-out 0.2s;

  transition: -webkit-transform ease-in-out 0.2s;

  -o-transition: transform ease-in-out 0.2s;

  transition: transform ease-in-out 0.2s;

  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.slide-1 {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.slide-2 {
  -webkit-transform: translateX(-1160px);
      -ms-transform: translateX(-1160px);
          transform: translateX(-1160px);
}

.slide-3 {
  -webkit-transform: translateX(-2320px);
      -ms-transform: translateX(-2320px);
          transform: translateX(-2320px);
}

.slides-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  width: 1160px;
  min-height: inherit;
}

.slides-image {
  width: 580px;
  padding: 20px;
}

.slides-item:nth-child(1) .slides-image {
  padding-top: 2px;
  padding-left: 90px;
}

.slides-item:nth-child(2) .slides-image {
  padding-top: 14px;
  padding-left: 116px;
}

.slides-item:nth-child(3) .slides-image {
  padding-top: 67px;
  padding-left: 31px;
}

.slides-info {
  position: relative;

  width: 580px;
  padding: 82px 60px 25px 20px;
}

.slides-info::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 20px;
  z-index: -1;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slides-info::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 48px;
  z-index: -1;

  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #ffffff;
}

.slides-item:nth-child(1) .slides-info::after {
  content: "01";
}

.slides-item:nth-child(2) .slides-info::after {
  content: "02";
}

.slides-item:nth-child(3) .slides-info::after {
  content: "03";
}

.slides-slogan {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  font-size: 47px;
  line-height: 56px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.slides-description {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.slides-item .button {
  width: 220px;
  margin-bottom: 48px;
}

.slides-specifications {
  border-collapse: collapse;
  vertical-align: top;
}

.slides-specifications tr {
  height: 38px;
}

.slides-specifications td {
  padding: 0;

  font-size: 36px;
  line-height: 48px;
  font-family: "gilroylight";
  color: #000000;
}

.slides-specifications th {
  padding: 0;

  font-size: 13px;
  line-height: 20px;
  font-family: "opensanslight", Arial, sans-serif;
}

.slides-specifications th:nth-child(1),
.slides-specifications td:nth-child(1) {
  width: 160px;
}

.slides-specifications th:nth-child(2),
.slides-specifications td:nth-child(2) {
  width: 140px;
}

.slides-specifications th:nth-child(3),
.slides-specifications td:nth-child(3) {
  width: 160px;
}

.slides-buttons {
  position: absolute;
  top: 329px;
  right: 83px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 78px;
  height: 12px;
}

.slides-buttons button {
  width: 12px;
  height: 12px;
  padding: 0;

  background: none;
  background-image: url(../svg/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  border: none;
  cursor: pointer;
}

.slides-buttons button:hover,
.slides-buttons button:focus,
.slides-buttons button:active {
  background-image: url(../svg/slider-button.svg);
}

.slides-buttons .slides-btn-active {
  background-image: url(../svg/slider-button.svg);
}

.categories {
  min-height: 402px;
  padding: 80px 20px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-item a {
  position: relative;

  display: block;

  color: rgba(0, 0, 0, 1.0);
}

.categories-item h3 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: inherit;
}

.categories-item a::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: rgba(240, 197, 46, 0.5);
}

.categories-item a:hover::before {
  background-color: rgba(240, 197, 46, 1.0);
}

.categories-item a:active,
.categories-item a:active::before {
  color: rgba(0, 0, 0, 0.3);

  opacity: 0.3;
}

.categories-item:nth-child(1) a::before {
  background-image: url(../svg/popular-1.svg);
  background-repeat: no-repeat;
  background-position: top 52px left 31px;
}

.categories-item:nth-child(2) a::before {
  background-image: url(../svg/popular-2.svg);
  background-repeat: no-repeat;
  background-position: top 41px left 38px;
}

.categories-item:nth-child(3) a::before {
  background-image: url(../svg/popular-3.svg);
  background-repeat: no-repeat;
  background-position: top 38px left 49px;
}

.categories-item:nth-child(4) a::before {
  background-image: url(../svg/popular-4.svg);
  background-repeat: no-repeat;
  background-position: top 50px left 28px;
}

.categories-item:nth-child(5) a::before {
  background-image: url(../svg/popular-5.svg);
  background-repeat: no-repeat;
  background-position: top 32px left 55px;
}

.categories-item:nth-child(6) a::before {
  background-image: url(../svg/popular-6.svg);
  background-repeat: no-repeat;
  background-position: top 49px left 13px;
}

.services {
  position: relative;

  min-height: 388px;
  padding-bottom: 69px;
}

.services::after {
  content: "";
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  min-height: 288px;

  background-color: #e5e5e5;
}

.services-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.services-buttons {
  z-index: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 284px;
  min-height: 319px;
  padding: 80px 0 69px 0;

  border-right: 7px solid #000000;
}

.services-buttons .button {
  width: 277px;
  padding-right: 117px;
}

.services-buttons .button:not(:last-child) {
  margin-bottom: 25px;
}

.services-buttons .button::before {
  width: 160px;
}

.services-buttons .button:hover,
.services-buttons .button:focus,
.services-buttons .button:active {
  color: #f7e184;
}

.services-buttons .button:hover::before,
.services-buttons .button:focus::before,
.services-buttons .button:active::before {
  background-color: #000000;
  -webkit-transform: scale(2, 5);
      -ms-transform: scale(2, 5);
          transform: scale(2, 5);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.services-buttons .services-btn-active {
  color: #f7e184;
}

.services-buttons .services-btn-active::before {
  background-color: #000000;
  -webkit-transform: scale(1.75, 5);
      -ms-transform: scale(1.75, 5);
          transform: scale(1.75, 5);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.services-list {
  position: relative;

  width: 880px;
  min-height: 319px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  position: absolute;
  z-index: -1;

  width: 100%;
  min-height: 319px;
  padding-top: 82px;
  padding-right: 300px;
  padding-bottom: 75px;
  padding-left: 116px;

  opacity: 0;
}

.delivery {
  background-image: url(../svg/delivery.svg);
  background-repeat: no-repeat;
  background-position: top 85px right 66px;
}

.warranty {
  background-image: url(../svg/warranty.svg);
  background-repeat: no-repeat;
  background-position: top 61px right 46px;
}

.credit {
  background-image: url(../svg/credit.svg);
  background-repeat: no-repeat;
  background-position: top 61px right 70px;
}

.services-active {
  z-index: 0;

  opacity: 1;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  font-size: 47px;
  line-height: auto;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.services-item p {
  margin: 0;
  padding: 0;
}

.brands {
  min-height: 287px;
  padding: 95px 20px 83px 20px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.brands-item a {
  position: relative;

  display: block;
  width: 260px;
  height: 100px;
}

.brands-item img {
  opacity: 0;
}

.brands-item:hover img {
  opacity: 1;
}

.brands-item a:before {
  content: "";
  position: absolute;

  width: 260px;
  height: 100px;

  opacity: 1;
}

.brands-item a:hover:before {
  opacity: 0;
}

.brands-item:nth-child(1) a:before {
  background-image: url(../img/logo-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.brands-item:nth-child(2) a:before {
  background-image: url(../img/logo-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.brands-item:nth-child(3) a:before {
  background-image: url(../img/logo-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.brands-item:nth-child(4) a:before {
  background-image: url(../img/logo-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  position: relative;

  width: 480px;
  min-height: 655px;
  padding: 53px 0;
}

.info h2 {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.info h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.info p {
  margin: 0;
  padding: 0;

  letter-spacing: 0;
}

.info p:nth-of-type(1) {
  margin-bottom: 30px;
}

.info p:nth-of-type(2) {
  margin-bottom: 66px;
}

.info .transport-companies {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  padding-left: 19px;

  list-style: circle;
  font-size: 16px;
  line-height: 40px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #e5e5e5;
  letter-spacing: 0;
}

.transport-companies li {
  padding-left: 16px;
}

.transport-companies span {
  color: #000000;
}

.info .button {
  width: 260px;
}

.contacts {
  position: relative;

  width: 560px;
  min-height: 655px;
  padding: 53px 0;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.contacts h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  letter-spacing: 0;
}

.map {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 69px;
  overflow: hidden;

  cursor: pointer;
}

.map img {
  max-width: 100%;
  max-height: 100%;
}

.contacts .button {
  width: 260px;
}

.catalog-heading {
  padding: 38px 20px 46px 80px;
}

.page-title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-size: 47px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 24px;
  font-family: "opensansregular", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:not(last-child) {
  position: relative;

  margin-right: 17px;
  padding-right: 17px;
}

.breadcrumbs li:not(last-child) ::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;

  width: 5px;
  height: 5px;

  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 77px;

  background-color: #eeeeee;
}

.filters-heading-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  min-height: 70px;

  background-color: #dbdbdb;
}

.filters-container {
  width: 348px;
  padding-right: 68px;
  padding-left: 80px;
}

.filters h2 {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters-form {
  padding-top: 69px;
}

.filters-form fieldset {
  position: relative;

  padding-bottom: 30px;

  border: none;
  border-top: 2px solid #000000;
}

.filters-form legend {
  position: absolute;
  top: 10px;
  left: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.filters-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 40px;
  font-family: "opensanslight", Arial, sans-serif;
  color: #000000;
}

.filters-form input[disabled],
.filters-form input[disabled] + label {
  opacity: 0.25;
}

.filters-form input:not(:disabled):focus + label {
  outline: 1px solid #4d90fe;
}

.filters-form .button {
  width: 200px;
}

.filters-price {
  min-height: 140px;
  margin: 0;
  padding: 0;
  padding-top: 69px;
}

.filters-price input {
  cursor: pointer;
}

.range-controls {
  position: relative;
}

.range-scale {
  width: 100%;
  height: 2px;

  background-color: #dbdbdb;
}

.scale-bar {
  width: 55%;
  height: 100%;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 23px;

  background-image: url(../svg/filter-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.toggle-min {
  top: -10px;
  left: -6px;
}

.toggle-max {
  top: -10px;
  left: 107px;
}

.range-toggle label {
  position: absolute;
  top: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  max-width: 98px;

  font-size: 14px;
  line-height: 24px;
  font-family: "gilroylight", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.min-price {
  left: 5px;
}

.max-price {
  left: -18px;
}

.range-toggle input {
  max-width: 50%;
  margin-left: 4px;

  font-size: 14px;
  line-height: 24px;
  font-family: "gilroylight", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);

  background: none;
  border: none;
}

.filters-color {
  min-height: 285px;
  margin: 0;
  padding: 0;
  padding-top: 52px;
}

.filters-color label {
  position: relative;

  display: block;
  min-height: 23px;
  padding-left: 38px;
}

.filters-color label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  width: 27px;
  height: 23px;

  background-image: url(../svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.filters-color input:not(:disabled):hover + label::before {
  opacity: 0.6;
}

.filters-color input:checked + label::before {
  background-image: url(../svg/checkbox-on.svg);
  opacity: 1;
}

.filters-bluetooth {
  min-height: 165px;
  margin: 0;
  padding: 0;
  padding-top: 52px;
}

.filters-bluetooth label {
  position: relative;

  display: block;
  min-height: 25px;
  padding-left: 38px;
}

.filters-bluetooth label::before {
  content: "";
  position: absolute;
  /* top: -4px;
  left: -2px; */
  top: 6px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url(../svg/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.filters-bluetooth input:not(:disabled):hover + label::before {
  opacity: 0.6;
}

.filters-bluetooth input:checked + label::before {
  background-image: url(../svg/radio-on.svg);
  opacity: 1;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 78px;
}

.catalog-container {
  width: 852px;
  padding-right: 20px;
  padding-left: 72px;
}

.sorting-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  background-color: #ebebeb;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.sorting h3 {
  width: 145px;
  margin: 0;
  margin-right: 56px;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-tags a,
.sorting-scale a {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensansregular", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0;

  opacity: 0.3;
}

.sorting-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: сcenter;
      -ms-flex-align: сcenter;
          align-items: сcenter;
  width: 287px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.sorting-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-scale a {
  display: block;
  width: 11px;
  height: 10px;
}

.scale-up-dir {
  background-image: url(../svg/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.scale-down-dir {
  background-image: url(../svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-tags a,
.sorting-scale a {
  font-size: 14px;
  line-height: 18px;
  font-family: "opensansregular", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0;

  opacity: 0.3;
}

a.sorting-active {
  opacity: 1;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 69px;
  padding-left: 32px;

  list-style: none;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  min-height: 460px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.item-image {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;

  background-color: #eeeeee;
}

.item-image img {
  max-width: 100%;
  max-height: 100%;
}

.item-actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out;

  -o-transition: opacity 0.2s ease-in-out;

  transition: opacity 0.2s ease-in-out;
}

.item-image:hover .item-actions {
  opacity: 1;
}

.add-to-cart {
  width: 200px;
  margin-top: 172px;
}

.add-to-compare {
  max-width: 145px;
  margin-top: 6px;
  padding: 0;

  font-size: 13px;
  line-height: 36px;
  font-family: "opensanslight", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);

  background: none;
  border: none;
}

.add-to-compare:hover {
  color: #000000;
}

.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-flags {
  position: absolute;
  top: 30px;
  right: 27px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: #cfcfcf;
  text-transform: uppercase;

  border: 1px solid #cfcfcf;
  border-radius: 50%;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item h3 {
  max-width: 260px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.item-price p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "gilroylight", Arial, sans-serif;
  color: #464646;
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ebebeb;
}

.pagination-buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;

  font: inherit;
  color: #000000;
}

.pagination-buttons a:hover {
  background-color: #d9d9d9;
}

.pagination-buttons a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-back {
  width: 126px;
  margin-right: 212px;
}

.button-forward {
  width: 137px;
  margin-left: auto;
}

.pages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pages-item a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.pages-item:not(.pages-item-current) a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pages-item:not(.pages-item-current) a:active {
  color: rgba(0, 0, 0, 1);
}

.pages-item-current a {
  color: #000000;
}

.main-footer {
  min-height: 323px;

  background-color: #464646;
}

.main-footer p {
  margin: 0;
  padding: 0;

  color: #ffffff;
  letter-spacing: 0;
}

.footer-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 63px;
  padding-bottom: 60px;
}

.footer-logo {
  position: absolute;
  top: 60px;
  left: 18px;

  width: 166px;
  height: 48px;

  font-size: 48px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #ffc600;
  text-transform: uppercase;
}

.footer-wrapper::before {
  content: "";
  position: absolute;
  bottom: 77px;
  left: 20px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-wrapper::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 77px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-ui {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 480px;
  margin-bottom: 37px;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 227px;
  margin: 0;
  margin-right: 43px;
  padding: 0;

  list-style: none;
}

.footer-user-navigation a {
  display: block;

  color: #ffffff;
}

.footer-user-navigation .login-link,
.footer-user-navigation .user {
  padding-left: 26px;

  background-image: url(../svg/user-footer.svg);
  background-repeat: no-repeat;
  background-position: top 9px left 0;
}

.footer-user-navigation .user {
  margin-right: 20px;
}

.footer-user-navigation .logout-link {
  color: rgba(255, 255, 255, 0.3);
}

.footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 212px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-options a {
  display: block;

  color: #ffffff;
}

.footer-options .compare {
  padding-left: 20px;

  background-image: url(../svg/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: top 11px left 0;
}

.footer-options .cart {
  padding-left: 21px;

  background-image: url(../svg/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: top 9px left 0;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
}

.footer-middle .footer-address {
  width: 220px;
  margin-right: 147px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 427px;
  margin: 0;
  margin-top: 3px;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-tel {
  max-width: 180px;
  margin-left: auto;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 151px;
  min-height: 32px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button-1 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;

  background-image: url(../svg/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-2 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;

  background-image: url(../svg/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-3 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;

  background-image: url(../svg/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-logo a:hover,
.footer-navigation a:hover,
.footer-copyright:hover {
  opacity: 0.6;
}

.footer-logo a:active,
.footer-navigation a:active,
.footer-copyright:active {
  opacity: 0.3;
}

.footer-social a,
.footer-user-navigation a,
.footer-options a {
  opacity: 0.7;
}

.footer-social a:hover,
.footer-user-navigation a:hover,
.footer-options a:hover {
  opacity: 1;
}

.footer-social a:active,
.footer-user-navigation a:active,
.footer-options a:active {
  opacity: 0.3;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: none;
  width: 960px;
  height: 553px;
  padding: 93px 100px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 40px -20px #000000;
          box-shadow: 0 10px 40px -20px #000000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feedback-item {
  margin: 0;
  padding: 0;
}

.feedback-item label {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0;
}

.feedback-item input,
.feedback-item textarea {
  display: block;

  font-size: 14px;
  line-height: 18px;
  font-family: "opensansregular", Arial, sans-serif;
  letter-spacing: 0;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  background-color: rgba(229, 229, 229, 0.5);
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.feedback-item input:invalid,
.feedback-item textarea:invalid,
.feedback-form .feedback-invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-form .feedback-invalid:hover {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
}

.feedback-name,
.feedback-email {
  width: 360px;
  height: 77px;
}

.feedback-name label,
.feedback-email label {
  margin-bottom: 5px;
}

.feedback-name input,
.feedback-email input {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.feedback-text {
  width: 760px;
  padding-bottom: 41px;
}

.feedback-text label {
  margin-bottom: 7px;
}

.feedback-text textarea {
  width: 100%;
  height: 156px;
  padding: 15px 20px;

  resize: none;
}

.feedback-form .button {
  width: 200px;
}

.map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: none;
  width: 960px;
  height: 559px;

  -webkit-box-shadow: 0 10px 40px -20px #000000;

          box-shadow: 0 10px 40px -20px #000000;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-popup img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-color: rgba(240, 197, 46, 0.5);
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;

  width: 3px;
  height: 29px;

  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  display: none;
  width: 100%;
  height: 100%;
}

.display-block {
  display: block;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes show {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modal-show {
  display: block;

  -webkit-animation-name: show;

          animation-name: show;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
}

.feedback-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
