.footer-logo a:hover,
.footer-navigation a:hover,
.footer-copyright:hover {
  opacity: 0.6;
}

.footer-logo a:active,
.footer-navigation a:active,
.footer-copyright:active {
  opacity: 0.3;
}

.footer-social a,
.footer-user-navigation a,
.footer-options a {
  opacity: 0.7;
}

.footer-social a:hover,
.footer-user-navigation a:hover,
.footer-options a:hover {
  opacity: 1;
}

.footer-social a:active,
.footer-user-navigation a:active,
.footer-options a:active {
  opacity: 0.3;
}

.footer-logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #ffc600;
  text-transform: uppercase;
}

.footer-left p {
  color: #ffffff;
  letter-spacing: 0;
}

.footer-left:after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  border-top: 7px solid #ffc600;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/*
.social-button:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
}
*/
.social-button-1 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-image: url(../svg/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-2 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-image: url(../svg/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-3 {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-image: url(../svg/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation a {
  color: #ffffff;
}

.footer-user-navigation .login-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffc600;
  background-image: url(../svg/user.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation .user::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffc600;
  background-image: url(../svg/user.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-navigation .logout-link {
  color: rgba(255, 255, 255, 0.3);
}

.footer-options a {
  color: #ffffff;
}

.footer-options .compare::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffc600;
  background-image: url(../svg/compare.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-options .cart::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffc600;
  background-image: url(../svg/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
